:root {
    --background-color: #eee;
    --main-color: #62d2a2;
    --logo-font-size: 24px;
    --logo-font-weight: 700;
    --logo-line-height: 36px;
    --transition: 0.3s;
    --border-radius: 6px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.conatiner {
    margin: 15px auto;
    padding: 15px;
}

.main-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 38px;
    font-weight: 700;
    margin-bottom: 15px;
}

.main-btn {
    text-transform: capitalize;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    padding: 15px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.main-btn:hover a {
    color: var(--main-color);
    background-color: var(--background-color);
    outline: 1px solid var(--main-color);
}

body {
    background-color: var(--background-color);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--background-color);
    line-height: 24px;
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: capitalize;
}

ul {
    list-style: none;
}

/* Start Header */
header {
    background-color: var(--main-color);
    min-height: 80vh;
}

header .conatiner {
    margin-top: 0;
    position: relative;
    height: 80vh;
}

nav {
    display: flex;
    align-items: center;
    /* background-color: red; */
}

nav .logo {
    flex: 1;
    text-align: start;
}

nav .logo a {
    font-weight: var(--logo-font-weight);
    font-size: var(--logo-font-size);
    line-height: var(--logo-line-height);
    color: var(--background-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

nav .list-content {
    flex: 1;
}

nav .list-content ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

@media (max-width: 991px) {
    nav .list-content ul {
        display: none;
    }
}

nav .list-content ul li a {
    padding: 5px 15px;
    font-size: 1rem;
    text-transform: uppercase;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

nav .list-content ul li a:hover {
    color: var(--main-color);
    background-color: #eeeeee5e;
}

nav .list-content ul form .btn-search {
    border: none;
    background-color: transparent;
}

nav .list-content ul form .btn-search i {
    color: var(--background-color);
    font-size: 1rem;
    padding: 10px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    cursor: pointer;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

nav .list-content ul form .btn-search i:hover {
    color: var(--main-color);
    background-color: #eeeeee5e;
}

.bar {
    z-index: 1;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.bar i {
    color: var(--background-color);
    font-size: 1.5rem;
    padding: 5px;
    cursor: pointer;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.bar .bar-icon {
    width: fit-content;
}

.bar .bar-icon:hover i {
    background-color: #eeeeee5e;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.bar:hover .bar-content {
    display: block;
}

@media (max-width: 991px) {
    .bar {
        display: block;
    }
}

.bar .bar-content {
    padding: 15px 10px;
    padding-left: 0;
    display: none;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.bar .bar-content ul li {
    padding: 5px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.bar .bar-content ul li:hover {
    background-color: #eeeeee5e;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

header .conatiner .head-content {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30%;
}

header .conatiner .head-content .text {
    flex: 1;
    text-align: start;
}

header .conatiner .head-content .text h1 {
    font-size: 48px;
    color: var(--background-color);
    line-height: 58px;
    font-weight: var(--logo-font-weight);
    text-transform: uppercase;
}

header .conatiner .head-content .text p {
    margin: 30px 0;
    color: #fefefe;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 21px;
}

header .conatiner .head-content .text .main-btn {
    background-color: var(--background-color);
    color: var(--main-color);
}

header .conatiner .head-content .text .main-btn a {
    color: var(--main-color);
    background-color: var(--background-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

header .conatiner .head-content .text .main-btn:hover a {
    color: var(--background-color);
    background-color: var(--main-color);
}

header .conatiner .head-content .text .main-btn:hover {
    outline: 1px solid var(--background-color);
    color: var(--background-color);
    background-color: transparent;

}

header .conatiner .head-content .empty-box {
    flex: 1;
}

@media (max-width: 767px) {
    header .conatiner .head-content .empty-box {
        display: none;
    }
}

/* End Header */

/* Start Departments */
.text-title {
    margin-top: 50px;
}

.text-title p {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.departments .box {
    margin: 30px 0 50px 0;
}

.departments .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

.departments .boxes .box .b-icon {
    text-align: center;
}

.departments .boxes .box .b-icon i {
    font-size: 2.5rem;
    background-color: var(--main-color);
    color: var(--background-color);
    padding: 24px 24px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.departments .boxes .box .b-icon i:hover {
    color: var(--main-color);
    background-color: var(--background-color);
}

.departments .boxes .box .b-info {
    margin-top: 25px;
    text-align: center;
}

.departments .boxes .box .b-info h5 {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 24px;
}

.departments .boxes .box .b-info p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.departments .depart-btn {
    text-align: center;
}

.main-btn a {
    color: var(--background-color);
    background-color: var(--main-color);
}

/* End Departments */